<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2>Restaurant Record App</h2>
        <div class="d-flex">
            <!-- <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">hello</button> -->
            <button (click)="clickAddRestro()" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add Restaurant
            </button>
        </div>
    </div>
</nav>
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-8 fw-bold">Restaurant Records Management</h1>
        <p class="col-md-4 fs-4">Saving Records using Angular</p>
        <a class="fs-4 btn btn-primary btn-lg" target =_blank type="button" href="https://www.google.com/">Let's Roll -></a>
    </div>

</div>
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">Restaurant ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Address</th>
            <th scope="col">Service</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of allRestaurantData">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.mobile}}</td>
            <td>{{data.address}}</td>
            <td>{{data.services}}</td>
            <td>
                <button (click)="onEditRestro(data)" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>&nbsp;
                <button (click)="deleteRestro(data)" class="btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>



<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Restaurant Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- form-->

          <form [formGroup]="formValue">
            <div class="mb-3">
                <label for="exampleInputName" class="form-label">Name</label>
                <input type="text" formControlName="name" class="form-control" placeholder="Enter Full Name" id="exampleInputName" aria-describedby="emailHelp">

              </div>
            <div class="mb-3">
              <label for="exampleInputEmail" class="form-label">Email Id</label>
              <input type="text" formControlName="email" class="form-control" placeholder="Enter Email" id="exampleInputEmail" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputTel"  class="form-label">Mobile</label>
              <input type="text" formControlName="mobile" class="form-control" placeholder="Enter Phone Number" id="exampleInputTel">
            </div>
            <div class="mb-3">
                <label for="exampleInputAdd" class="form-label">Address</label>
                <input type="text" formControlName="address" placeholder="Enter Address" class="form-control" id="exampleInputAdd">
              </div>
              <div class="mb-3">
                <label for="exampleInputSer" class="form-label">Services</label>
                <input type="text" formControlName="services" placeholder="Enter Services" class="form-control" id="exampleInputSer">
              </div>

            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
          </form>

            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button *ngIf="showAdd" type="button" class="btn btn-primary" (click)="addRestro()" >Add Details</button>
          <button *ngIf="showBtn" type="button" class="btn btn-primary" (click)="updateRestro()" >Update Details</button>
        </div>
      </div>
    </div>
  </div>